.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.button {
  background-color:lightgray;
  border: none;
  border-radius: 50%;
  color: black;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.tree-logo {
 height:75px;
 width:75px;
}

.title {
  float: left;
  text-align: center;
}
.dashboard-wrapper {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.dashboard-table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 40vw;
}
.dashboard-table-row {
  height: 3em;
}
.dashboard-table-row:nth-child(even) {
  background-color: lightgreen;
}
.dashboard-table-row:nth-child(1){
  background-color: lightgray;
}


.map-wrapper {
  width: 40vw;
}
.map-title-wrapper {
  border: 1px solid black;
  background-color: lightgray;
  padding-left: 2em;
}
.map-container { 
  /* height: 520px; */
  border:1px solid black;
} 

.dashboard-table-header {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 2em;
}

.dashboard-table-elem {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1em;
  padding-left: 1em;
}



#container { 
  padding: 5px;
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.tree-row {
/*   background-color: blue; */
  margin: 5px;
  
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}


.tree-wrapper {
/*   background-color: green; */
  margin: 10px;
  
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.tree {
/*  We'd probably dynamically define the height/width just hard coded it here  */
  width: 50px;
  height: 50px;
  background-color: brown;
}